!!!
%html
  %head
    %title Chatter
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .header
    .main
      .container
        
        - if flash[:alert]
          .alert= flash[:alert]
        
        = yield
    
    .footer
      .container